.container {
  min-height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  position: relative;
  display: flex;
  flex-direction: row;
  font-family: 'Arial',;
  font-weight: 500;
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px 20px;
  text-align: 'center';
  color: #023047;
  
}

@media screen and (min-width: 420px) {
  .title {
    padding: 28px 42px;
    font-size: 48px;
  }
  .flower {
    font-size: 96px;
  }
}

@media screen and (min-width: 540px) {
  .title {
    font-size: 64px;
  }
  .flower {
    font-size: 112px;
  }
}
