.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Consolas;
  padding: 12px;
  font-weight: 600;
  font-size: 18px;
  color: #023047;
  transition-property: color;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link.isActive {
  color: #47a8bd;
}
.link:hover,
.link:focus {
  color: #47a8bd;
}
