.contactsList {
  font-family: Consolas;
  min-width: 320px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
  color: #023047;
  overflow: hidden;
}
.title {
  display: flex;
  font-family: Consolas;
  font-size: 24px;
  font-weight: 400;
  color: #023047;
  justify-content: center;
}

@media screen and (min-width: 520px) {
  .title {
    justify-content: flex-start;
    padding-left: 10px;
  }
}