.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.username {
  font-family: Consolas;
  font-weight: 700;
  color: #023047;
}
